* {
    margin: 0;
    padding: 0;
}

/* 親要素 */
header {
    background-color: #555;
    width: 100%;
    max-width: 1000px;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

header div {
    max-width: 900px;
    display: inline-block;
    height: 100px;
}

nav {
    width: 55%;
    display: inline-block;
}

nav ul {
    height: 100px;
}

/* 絶対消さない */
nav ul li {
    list-style: none;
    width: 24%;
    height: 100px;
    display: inline-block;
    text-align: center;
    /* background-color: #333; */
}

nav li:hover {
    /* 下線の太さや色を指定します */
    border-bottom: 2px solid #FF7A37;
}

/* 絶対消さない */
nav ul li a:hover {
    /* 下線の太さや色を指定します */
    border-bottom: 2px solid #FF7A37;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    height: 100px;
    line-height: 80px;
    font-weight: bold;
    font-size: x-large;
}

/* 絶対消さない */
nav ul li a:hover:not(.active) {
    background-color: #a9bce2;
}

/* ここまで */
a.item {
    display: inline-block;
    background-color: gray;
    height: 80px;
    margin: 16px 0 0 0;
    width: 100%;
    padding: auto 0;
}

.item a:hover:not(.active) {
    background-color: #a9bce2;
}

span.title {
    display: inline-block;
    margin-left: 10px;
    line-height: 100px;
    text-align: left;
    color: pink;
    font-size: 50px;
    font-family: fantasy;
}


div.icon {
    width: 100px;
    float: left;
}

/* 絶対消さない */
a.item.active {
    background-color: #da3c41;
}

@media screen and (max-width: 800px) {
    /* header { */
    /* height: 200px; */
    /* flex-direction: column; */
    /* } */
    /*  */
    /* nav { */
    /* width: 100%; */
    /* } */
    /*  */
    /* nav ul { */
    /* width: 100%; */
    /* } */
}

@media screen and (max-width: 500px) {
    /* div.head_box { */
    /* background-color: blue; */
    /* } */
    /*  */
    /* nav ul li a { */
    /* text-decoration: none; */
    /* color: whitesmoke; */
    /* height: 100px; */
    /* line-height: 80px; */
    /* font-weight: bold; */
    /* font-size: larger; */
    /* } */
}