* {
    margin: 0;
    padding: 0;
}

/* 親要素 */
header {
    position: fixed;
    top: 0;
    display: inline-block;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* background-color: rgb(87, 87, 87); */
    background-color: #9E9E9E;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    width: 100%;
    height: calc(1.7em + 60px);
}

header div {
	max-width: 900px;
    height: calc(1.5em + 60px);
}

nav {
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    /* ここで項目の幅を指定します */
    width: calc((100% - 16.26px) / 4);
	background-color: #333;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav li:hover {
    /* 下線の太さや色を指定します */
    border-bottom: 2px solid #FF7A37;
}

/* ここまで */


a.item {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 30px 0px;
    text-decoration: none;
	font-size: large;
}

a:hover:not(.active) {
    background-color: #a9bce2;
}

.active {
    background-color: #da3c41;
}

@media(max-width: 500) {
    div.head_box {
        background-color: blue;
    }
}