<!DOCTYPE html>
<html>
<head>
<!-- 文字コードの指定 -->
<meta charset="UTF-8">
<!-- jQueryの指定 -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- Place your kit's code here -->
<script src="https://kit.fontawesome.com/da2a99b904.js" crossorigin="anonymous"></script>

<script src="https: //cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=latex&lang=tex&lang=ruby&lang=c"> </script>

<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config"> MathJax.Hub.Config({
	TeX: { equationNumbers: { autoNumber: "AMS" }},
	tex2jax: {
	inlineMath: [ ['$','$'], ["\\(","\\)"] ],
	processEscapes: true
	},
	"HTML-CSS": { matchFontHeight: false },
	displayAlign: "left",
	displayIndent: "2em"
	});
</script>
<link rel="stylesheet" type="text/css" href="./footer.css" />
</head>

<body>

<footer>
	<div class="copyright">
		<p>2020 - Yuto</p>
	</div>
	<div class="sns">
		<a target="blank" rel="noopenner" href="mailto:yuto.for.uni@gmail.com" class="contact">Contact</a>
		<a target="blank" rel="noopenner" href="https://github.com/Yuto-34/yuto-34.github.io" class="git"><i class="fab fa-github"></i></a>
		<a target="blank" rel="noopenner" href="https://twitter.com/Yutto_924" class="tw"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
		<a target="blank" rel="noopenner" href="https://instagram.com/yuto1249" class="insta"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></a>
	</div>
</footer>

</body>
</html>
