body {
	/* 背景色、余白設定 */
	background-color: #EBE9E1;
	margin: 0;
	padding: 0;
}

.main {
	display: grid;
	grid-template-areas: "a a" "b c" "d d";
	grid-template-columns: 7.5em 1fr;
	grid-template-rows: 10ex 1fr 6ex;
}

header {
	grid-area: a;
	background-color: whitesmoke;
	padding-left: 2em;
	border-color: aquamarine;
	border-width: 2px;
	border-style: solid;
	border-top: none;
	border-left: none;
	border-right: none;
}

aside {
	grid-area: b;
	background-color: rgb(243, 248, 255);
	padding-left: .2em;
	padding-top: 2ex;
	font-size: small;
	border-color: aquamarine;
	border-width: 2px;
	border-style: solid;
	border-top: none;
	border-bottom: none;
	border-left: none;
}

section {
	grid-area: c;
	background-color: rgb(250, 250, 250);
	color: black;
	padding: 1em;
	padding-top: none;
}

footer {
	grid-area: d;
	background-color: cornsilk;
	padding: 1em;
	border-color: aquamarine;
	border-width: 2px;
	border-style: solid;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

table {
	max-width: 60em;
	width: 90%;
}

table, td, th {
	border: black 1px solid;
	border-collapse: collapse;
	text-align: center;
}

blockquote {
	border: 1px solid #ccc;
	padding: 5px;
	margin: 10px;
}

.bar {
	border-top: 1px solid #999;
}


.new {
	padding-left: .4em;
	width: 90%;
	height: 12ex;
	border: black solid;
	overflow-y: scroll;
}

@media screen and (max-device-width: 480px) {}