body {
	margin: 0px 
}
header {
	grid-area: a;
	background-color: burlywood;
	padding: 1em ;
	text-align: center;
	color: black;
}
section {
	grid-area: c;
	padding: 1ex 1em 1ex 1em;
	color: black;
}
footer {
	grid-area: e;
	padding: 1em ;
	background-color : rgb(254, 255, 187);
	color: black;
}
address {
	text-align: right 
}
ul, li {
	text-align: left;
}

.main {
	display: grid;
	width: 98vw;
	height: 98vh;
	grid-template-areas: "a" "c" "e";
	grid-template-rows: auto 1fr auto;
}

.display {
	width: calc(100%-10px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.ribbon11-wrapper {
	display: block;
	position: relative;
	margin: 10px 5px;
	padding: 0 0 8px 0;
	width: 300px;
	background: #f1f1f1;
}
.ribbon11 {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	margin: 0 0 0 0;
	width: calc(100%);
	font-size: 22px;
	color: white;
	background: #70c7ff;
}
