body {
	margin: 0em;
}
.main {
	display: grid;
	grid-template-areas: "a a" "b c" "d d";
	grid-template-columns: 8em 1fr;
	grid-template-rows: 10ex 1fr 6ex;
}
/* header {
	grid-area: a;
	background-color: coral;
	padding: 1em;
} */
aside {
	grid-area: b;
	background-color: wheat;
	padding: 1em;
}
section {
	grid-area: c;
	background-color:blanchedalmond;
	color:black;
	padding: 1em;
}
footer {
	grid-area: d;
	padding: 1em;
	background-color: thistle;
}
section2 {
	grid-area: a;
	background-color: coral;
}
a.right {
	text-align: right;
	float: right;
}
a.center {
	text-align: center;
	float: center;
}
a.left {
	text-align: left;
	float: left;
}
h1 {
	padding-left: 1em;
	height: 2em;
	vertical-align: middle;
}
h2.a1 {
	padding-left: 1em;
	margin-right: 5%;
	background-color: rgb(255, 134, 154);
}
h2.a2 {
	padding-left: 1em;
	margin-right: 5%;
	background-color: darkorange;
}
h3.a1 {
	padding-left: 2em;
	margin-right: 6%;
	background-color: rgb(255, 178, 152);
}
h3.a2 {
	padding-left: 2em;
	margin-right: 6%;
	background-color: rgb(253, 177, 84);
}
h4.a2 {
	padding-left: 3em;
	margin-right: 7%;
	background-color: rgb(253, 177, 84);
}
table {
	margin-left: 5%;
	margin-right: 2%;
	border: 1pt black solid;
	text-align: center;
	overflow-x: scroll;
}
table.a1 {
	text-align: left;
	border: 0ch;
}
td, th {
	margin-top: auto;
	margin-bottom: 10%;
	margin-right: 5%;
	margin-left: 5%;
	padding: 2px 8px;
	border: 1pt black solid;
	text-align: left;
}
th {
	text-align: center;
}
th.a1 {
	border: 0ch;
}
td.a1 {
	border: 0ch;
	text-align: left;
}
th.a2 {
	border: 0ch;
	text-align: right;
	overflow: nowrap;
	vertical-align: top;
}
p {
	margin-left: 1em;
}
p.a1 {
	text-align: left;
}
b.a1 {
	font-size: large;
}
.back_lightorange {
	background-color: rgb(253, 177, 84);
}
.under_lightorange {
	background: linear-gradient(transparent 0%, rgb(253, 177, 84));
}
.under_orange {
	background: linear-gradient(transparent 70%, darkorange 100%);
}
.under_pink1 {
	background: linear-gradient(transparent 60%, rgb(255, 178, 152));
}